{% include 'includes/head.html' %}
<script> 
 USERNAME = "{{ annotation_username }}";
 USER_PHOTO_URL = "https://graph.facebook.com/" + USERNAME + "/picture";
 TEXT_ID = "{{ text_id }}";
 USER_ID = "{{ annotation_user_id }}";
</script>
<body class='relative'>
  <input type="hidden" id="annotation_id" value="{{annotation_id}}" />

  <div id="compose_screen">
    <div id="highlighted_text">
    </div>

    <textarea name="annotation_comment" id="annotation_comment"> </textarea>

    <div class="buttons">
      <button id="post_note">Post</button>
      <button id="discard">Discard</button>
    </div>
  </div>


<div class="container">

<aside class="left">
{% for comment in comments %}


{% endfor %}
</aside>

<section class="right" id="main_annotation_content">
  <div id="toolbar">
    <button id="annotate_button">Annotate</button>
    <button id="save_annotation_button">Save</button>
  </div>
<div id="annotation">

{% autoescape off %}
{{ text }} 
{% endautoescape %}
</div>
</section>

</div>

<!-- closes body and html tags -->
{% include 'footer.html' %}

