{% include 'includes/head.html' %}
<body>
<!--  <div id="top_toolbar">
    <a href="/home">Home</a>
  </div>-->
  
  <div id="profile" class="container" style="margin-top:50px;">    
    
      <img src="{{profile_user_img}}" class='profile_pic' />
      <div class="profile_signature">
        The Annotations of Peter Zakin
      </div>
          <div class='annotations_list'>
    {% for annotation in annotations %}
    <div>
    <a href="/{{profile_username}}/{{annotation.text_id}}">{{annotation.text_title}}</a>
    </div>
    {% endfor %}
        </div>
  </div>

</body>


<!-- closes body and html tags -->
{% include 'footer.html' %}


