{% include 'header.html' %}
<body>

<div id="fb-root"></div>
<script>
  // Additional JS functions here
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '470297626362026', // App ID
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional init code here
    FB.getLoginStatus(function(response) {
    if (response.status === 'connected') {
        // connected
         alert('connected');
         console.log(response)
         token = response.authResponse.accessToken;
  
        FB.api('/me', function(response) {
        console.log('Good to see you, ' + response.name + '.');
  var name = response.name;
         });
  } else if (response.status === 'not_authorized') {
    // not_authorized
  } else {
  // not_logged_in
  }
  });

    $('.right').text(name);
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));

</script>
<div class="container">
  <span class="right">

    </span>
</div>

<!-- closes body and html tags -->
{% include 'footer.html' %}
