{% include 'header.html' %}
<body>

<div id="fb-root"></div>
<script>


 var re;
var token; 
  // Additional JS functions here
window.fbAsyncInit = function() {
    FB.init({
      appId      : '470297626362026', // App ID
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional init code here
    FB.getLoginStatus(function(response) {
    if (response.status === 'connected') {
        // connected
        FB.api('/me', function(response) {
               console.log('Good to see you, ' + response.name + '.');
               console.log(response);
               re = response
            //fb_user_logged_in(response);
            //NOTE: HERE WHAT WE WANT IS FOR THE USER TO LOG IN. Make an ajax request and then redirect
        });
    } else if (response.status === 'not_authorized') {
        console.log(response);
        
    } else {
        // not_logged_in
    }
    });
    
};

  // Load the SDK Asynchronously
(function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement('script'); js.id = id; js.async = true;
    js.src = "//connect.facebook.net/en_US/all.js";
    ref.parentNode.insertBefore(js, ref);
   }(document));

function login() {
    FB.login(function(response) {
        if (response.authResponse) {
            // connected
           // $('.status').text('You are Connected');
            //console.log(response.authResponse.accessToken);
            humbert_login(response);
            //move dude over to register or login, depending on whether he has stored this token with us
            
              
        } else {
            // cancelled
        }
  });
} //end of login 



humbert_login = function(response){
    if (response.hasOwnProperty('authResponse')){
        //renew token if exists, otherwise create user
        access_token = response.authResponse.accessToken;
    } else {
        // no token
        access_token = '';
    }
    
    console.log(response);
    
    $.ajax({
            type: 'POST',
            url: '/ajax/fb_login',
            data: {
                'access_token': access_token,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'fb_id': response.authResponse.userID
            },
            success: function(data){
                location.href='/';
                //they should now be logged in and we'll show them logged in flow after this
            }
        });
    
} 

</script>
<div class="container">
  <header>
    Welcome to Humbert. 
  </header>  

	<p>
	Humbert is a place to annotate the work of others. 
	</p>
</div>

<div id="top_right">
<a onClick=login()>Login</a>

</div>
<!-- closes body and html tags -->
{% include 'footer.html' %}
